// Press Start 2P
@font-face {
  font-family: 'Press Start 2P';
  src: local('Press Start 2P'), local('Press Start 2P'),
    url('~@/assets/fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Fredericka the Great
@font-face {
  font-family: 'Fredericka the Great';
  src: local('Fredericka the Great'), local('Fredericka the Great'),
    url('~@/assets/fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

